In [1]:
import pandas as pd
# import data and display df

path_all_perth = "C:/Users/jess9/Desktop/Personal/coding/RealEstate_Scraping/all_perth.csv"
df = pd.read_csv(path_all_perth)

df

,Address,Link,Bedrooms,Bathrooms,Parking,Area,Type,Suburb,Scraped Date,Days on Market,Asking Price
0,"16/181 Oxford Street, Leederville",https://www.realestate.com.auhttps://www.reale...,1,1,1,0,1,perth,2025-10-01,NaN,400000
1,"30/124 Terrace Road, Perth",https://www.realestate.com.auhttps://www.reale...,1,1,0,33,1,perth,2025-10-01,NaN,315000
2,"13/34 East Parade, East Perth",https://www.realestate.com.auhttps://www.reale...,1,1,1,0,1,perth,2025-10-01,NaN,500
3,"704/237 Adelaide Terrace, Perth",https://www.realestate.com.auhttps://www.reale...,1,1,1,63,1,perth,2025-10-01,NaN,499000
4,"Address available on request, East Perth",https://www.realestate.com.auhttps://www.reale...,1,1,1,40,1,perth,2025-10-01,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
1501,"11/309 Railway Avenue, Armadale",https://www.realestate.com.auhttps://www.reale...,3,2,2,228,3,kelmscott,2025-10-03,1.0,500000
1502,"1A Sinclair Street, Armadale",https://www.realestate.com.auhttps://www.reale...,2,1,1,477,2,kelmscott,2025-10-03,1.0,0
1503,"Address available on request, Gosnells",https://www.realestate.com.auhttps://www.reale...,3,1,0,408,3,kelmscott,2025-10-03,1.0,0
1504,"Address available on request, Armadale",https://www.realestate.com.auhttps://www.reale...,3,2,2,270,3,kelmscott,2025-10-03,1.0,499520
1505,"14/9 Gladstone Road, Armadale",https://www.realestate.com.auhttps://www.reale...,3,2,2,145,3,kelmscott,2025-10-03,1.0,545000570000

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1506 entries, 0 to 1505
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Address         1506 non-null   object
 1   Link            1506 non-null   object
 2   Bedrooms        1506 non-null   int64
 3   Bathrooms       1506 non-null   int64
 4   Parking         1506 non-null   int64
 5   Area            1506 non-null   int64
 6   Type            1506 non-null   int64
 7   Suburb          1506 non-null   object
 8   Scraped Date    1506 non-null   object
 9   Days on Market  945 non-null    float64
 10  Asking Price    1506 non-null   int64
dtypes: float64(1), int64(6), object(4)
memory usage: 129.6+ KB

In [3]:
df = df.convert_dtypes()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1506 entries, 0 to 1505
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Address         1506 non-null   string
 1   Link            1506 non-null   string
 2   Bedrooms        1506 non-null   Int64
 3   Bathrooms       1506 non-null   Int64
 4   Parking         1506 non-null   Int64
 5   Area            1506 non-null   Int64
 6   Type            1506 non-null   Int64
 7   Suburb          1506 non-null   string
 8   Scraped Date    1506 non-null   string
 9   Days on Market  945 non-null    Int64
 10  Asking Price    1506 non-null   Int64
dtypes: Int64(7), string(4)
memory usage: 139.8 KB

In [5]:
df

,Address,Link,Bedrooms,Bathrooms,Parking,Area,Type,Suburb,Scraped Date,Days on Market,Asking Price
0,"16/181 Oxford Street, Leederville",https://www.realestate.com.auhttps://www.reale...,1,1,1,0,1,perth,2025-10-01,<NA>,400000
1,"30/124 Terrace Road, Perth",https://www.realestate.com.auhttps://www.reale...,1,1,0,33,1,perth,2025-10-01,<NA>,315000
2,"13/34 East Parade, East Perth",https://www.realestate.com.auhttps://www.reale...,1,1,1,0,1,perth,2025-10-01,<NA>,500
3,"704/237 Adelaide Terrace, Perth",https://www.realestate.com.auhttps://www.reale...,1,1,1,63,1,perth,2025-10-01,<NA>,499000
4,"Address available on request, East Perth",https://www.realestate.com.auhttps://www.reale...,1,1,1,40,1,perth,2025-10-01,<NA>,0
...,...,...,...,...,...,...,...,...,...,...,...
1501,"11/309 Railway Avenue, Armadale",https://www.realestate.com.auhttps://www.reale...,3,2,2,228,3,kelmscott,2025-10-03,1,500000
1502,"1A Sinclair Street, Armadale",https://www.realestate.com.auhttps://www.reale...,2,1,1,477,2,kelmscott,2025-10-03,1,0
1503,"Address available on request, Gosnells",https://www.realestate.com.auhttps://www.reale...,3,1,0,408,3,kelmscott,2025-10-03,1,0
1504,"Address available on request, Armadale",https://www.realestate.com.auhttps://www.reale...,3,2,2,270,3,kelmscott,2025-10-03,1,499520
1505,"14/9 Gladstone Road, Armadale",https://www.realestate.com.auhttps://www.reale...,3,2,2,145,3,kelmscott,2025-10-03,1,545000570000

In [6]:
df.sort_values(by=[df.columns[2], df.columns[10]], ascending=[False,False], inplace=True)

df

,Address,Link,Bedrooms,Bathrooms,Parking,Area,Type,Suburb,Scraped Date,Days on Market,Asking Price
224,"Address available on request, Mandurah",https://www.realestate.com.auhttps://www.reale...,5,2,8,760,5,mandurah,2025-10-01,<NA>,0
725,"Address available on request, Mandurah",https://www.realestate.com.auhttps://www.reale...,5,2,8,760,5,mandurah,2025-10-02,1,0
223,"197 Inlet Boulevard, South Yunderup",https://www.realestate.com.auhttps://www.reale...,4,2,2,330,4,mandurah,2025-10-01,<NA>,550000
724,"197 Inlet Boulevard, South Yunderup",https://www.realestate.com.auhttps://www.reale...,4,2,2,330,4,mandurah,2025-10-02,1,550000
200,"Address available on request, Mandurah",https://www.realestate.com.auhttps://www.reale...,4,2,0,0,4,mandurah,2025-10-01,<NA>,549990
...,...,...,...,...,...,...,...,...,...,...,...
256,"506/8 Adelaide Terrace, East Perth",https://www.realestate.com.auhttps://www.reale...,0,1,1,0,1,perth,2025-10-01,<NA>,0
416,"506/8 Adelaide Terrace, East Perth",https://www.realestate.com.auhttps://www.reale...,0,1,1,0,1,perth,2025-10-02,1,0
614,"506/8 Adelaide Terrace, East Perth",https://www.realestate.com.auhttps://www.reale...,0,1,1,0,1,victoria park,2025-10-02,1,0
741,"506/8 Adelaide Terrace, East Perth",https://www.realestate.com.auhttps://www.reale...,0,1,1,0,1,south perth,2025-10-02,1,0
783,"506/8 Adelaide Terrace, East Perth",https://www.realestate.com.auhttps://www.reale...,0,1,1,0,1,mount lawley,2025-10-02,1,0

In [14]:
# Show rows for a specific suburb (replace 'perth' with your desired suburb)
suburb_name = 'wembley'
wembley_df = df[df['Suburb'].str.lower() == suburb_name.lower()]



wembley_df.sort_values(by=['Asking Price'])

,Address,Link,Bedrooms,Bathrooms,Parking,Area,Type,Suburb,Scraped Date,Days on Market,Asking Price
487,"I11/125 Herdsman Parade, Wembley",https://www.realestate.com.auhttps://www.reale...,2,1,1,59,2,wembley,2025-10-02,1,0
488,"47/11 Herdsman Parade, Wembley",https://www.realestate.com.auhttps://www.reale...,2,1,1,0,2,wembley,2025-10-02,1,0
491,"10/109 Weaponess Road, Wembley Downs",https://www.realestate.com.auhttps://www.reale...,2,1,1,0,2,wembley,2025-10-02,<NA>,0
490,"Address available on request, Wembley",https://www.realestate.com.auhttps://www.reale...,1,1,1,0,1,wembley,2025-10-02,1,0
499,"111/45 Malcolm Street, West Perth",https://www.realestate.com.auhttps://www.reale...,1,1,0,33,1,wembley,2025-10-02,1,0
1047,"I11/125 Herdsman Parade, Wembley",https://www.realestate.com.auhttps://www.reale...,2,1,1,59,2,wembley,2025-10-03,1,0
1051,"Address available on request, Wembley",https://www.realestate.com.auhttps://www.reale...,1,1,1,0,1,wembley,2025-10-03,1,0
1049,"47/11 Herdsman Parade, Wembley",https://www.realestate.com.auhttps://www.reale...,2,1,1,0,2,wembley,2025-10-03,1,0
1061,"111/45 Malcolm Street, West Perth",https://www.realestate.com.auhttps://www.reale...,1,1,0,33,1,wembley,2025-10-03,1,0
1054,"10/109 Weaponess Road, Wembley Downs",https://www.realestate.com.auhttps://www.reale...,2,1,1,0,2,wembley,2025-10-03,1,0
496,"12/124 Subiaco Road, Subiaco",https://www.realestate.com.auhttps://www.reale...,1,1,1,40,1,wembley,2025-10-02,1,425
1058,"12/124 Subiaco Road, Subiaco",https://www.realestate.com.auhttps://www.reale...,1,1,1,40,1,wembley,2025-10-03,1,425
1053,"17/405 Oxford Street, Mount Hawthorn",https://www.realestate.com.auhttps://www.reale...,1,1,1,55,1,wembley,2025-10-03,<NA>,500
1052,"13/158 Hector Street, Osborne Park",https://www.realestate.com.auhttps://www.reale...,2,1,1,0,2,wembley,2025-10-03,1,529
493,"13/158 Hector Street, Osborne Park",https://www.realestate.com.auhttps://www.reale...,2,1,1,0,2,wembley,2025-10-02,<NA>,529
500,"205/45 MALCOLM STREET, West Perth",https://www.realestate.com.auhttps://www.reale...,0,1,0,0,1,wembley,2025-10-02,1,329000
1062,"205/45 MALCOLM STREET, West Perth",https://www.realestate.com.auhttps://www.reale...,0,1,0,0,1,wembley,2025-10-03,1,329000
1050,"7/93 Herdsman Parade, Wembley",https://www.realestate.com.auhttps://www.reale...,1,1,1,0,1,wembley,2025-10-03,1,349000
489,"7/93 Herdsman Parade, Wembley",https://www.realestate.com.auhttps://www.reale...,1,1,1,0,1,wembley,2025-10-02,1,349000
1055,"16/181 Oxford Street, Leederville",https://www.realestate.com.auhttps://www.reale...,1,1,1,0,1,wembley,2025-10-03,1,400000
492,"16/181 Oxford Street, Leederville",https://www.realestate.com.auhttps://www.reale...,1,1,1,0,1,wembley,2025-10-02,1,400000
497,"73/50-54 Cambridge Street, West Leederville",https://www.realestate.com.auhttps://www.reale...,1,1,1,0,1,wembley,2025-10-02,1,450000
1059,"73/50-54 Cambridge Street, West Leederville",https://www.realestate.com.auhttps://www.reale...,1,1,1,0,1,wembley,2025-10-03,1,450000
486,"107D/25 Herdsman Parade, Wembley",https://www.realestate.com.auhttps://www.reale...,2,1,0,0,2,wembley,2025-10-02,<NA>,499000
1048,"107D/25 Herdsman Parade, Wembley",https://www.realestate.com.auhttps://www.reale...,2,1,0,0,2,wembley,2025-10-03,1,499000
1060,"9/37 Florence Street, West Perth",https://www.realestate.com.auhttps://www.reale...,2,1,1,0,2,wembley,2025-10-03,1,500000
498,"9/37 Florence Street, West Perth",https://www.realestate.com.auhttps://www.reale...,2,1,1,0,2,wembley,2025-10-02,1,500000
494,"45/1 Sheen Street, Subiaco",https://www.realestate.com.auhttps://www.reale...,1,1,1,51,1,wembley,2025-10-02,1,525000
1056,"45/1 Sheen Street, Subiaco",https://www.realestate.com.auhttps://www.reale...,1,1,1,51,1,wembley,2025-10-03,1,525000
495,"5/1331 Hay Street, West Perth",https://www.realestate.com.auhttps://www.reale...,2,1,1,76,2,wembley,2025-10-02,<NA>,539000
1057,"5/1331 Hay Street, West Perth",https://www.realestate.com.auhttps://www.reale...,2,1,1,76,2,wembley,2025-10-03,1,539000

In [22]:
wembley_df_unique = wembley_df.drop_duplicates(subset=['Address'])
wembley_df_unique.sort_values(by=['Asking Price'], ascending=[False])

,Address,Link,Bedrooms,Bathrooms,Parking,Area,Type,Suburb,Scraped Date,Days on Market,Asking Price
495,"5/1331 Hay Street, West Perth",https://www.realestate.com.auhttps://www.reale...,2,1,1,76,2,wembley,2025-10-02,<NA>,539000
494,"45/1 Sheen Street, Subiaco",https://www.realestate.com.auhttps://www.reale...,1,1,1,51,1,wembley,2025-10-02,1,525000
498,"9/37 Florence Street, West Perth",https://www.realestate.com.auhttps://www.reale...,2,1,1,0,2,wembley,2025-10-02,1,500000
486,"107D/25 Herdsman Parade, Wembley",https://www.realestate.com.auhttps://www.reale...,2,1,0,0,2,wembley,2025-10-02,<NA>,499000
497,"73/50-54 Cambridge Street, West Leederville",https://www.realestate.com.auhttps://www.reale...,1,1,1,0,1,wembley,2025-10-02,1,450000
492,"16/181 Oxford Street, Leederville",https://www.realestate.com.auhttps://www.reale...,1,1,1,0,1,wembley,2025-10-02,1,400000
489,"7/93 Herdsman Parade, Wembley",https://www.realestate.com.auhttps://www.reale...,1,1,1,0,1,wembley,2025-10-02,1,349000
500,"205/45 MALCOLM STREET, West Perth",https://www.realestate.com.auhttps://www.reale...,0,1,0,0,1,wembley,2025-10-02,1,329000
493,"13/158 Hector Street, Osborne Park",https://www.realestate.com.auhttps://www.reale...,2,1,1,0,2,wembley,2025-10-02,<NA>,529
1053,"17/405 Oxford Street, Mount Hawthorn",https://www.realestate.com.auhttps://www.reale...,1,1,1,55,1,wembley,2025-10-03,<NA>,500
496,"12/124 Subiaco Road, Subiaco",https://www.realestate.com.auhttps://www.reale...,1,1,1,40,1,wembley,2025-10-02,1,425
488,"47/11 Herdsman Parade, Wembley",https://www.realestate.com.auhttps://www.reale...,2,1,1,0,2,wembley,2025-10-02,1,0
490,"Address available on request, Wembley",https://www.realestate.com.auhttps://www.reale...,1,1,1,0,1,wembley,2025-10-02,1,0
491,"10/109 Weaponess Road, Wembley Downs",https://www.realestate.com.auhttps://www.reale...,2,1,1,0,2,wembley,2025-10-02,<NA>,0
487,"I11/125 Herdsman Parade, Wembley",https://www.realestate.com.auhttps://www.reale...,2,1,1,59,2,wembley,2025-10-02,1,0
499,"111/45 Malcolm Street, West Perth",https://www.realestate.com.auhttps://www.reale...,1,1,0,33,1,wembley,2025-10-02,1,0

In [23]:
wembley_df_unique.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 486 to 1053
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Address         16 non-null     string
 1   Link            16 non-null     string
 2   Bedrooms        16 non-null     Int64
 3   Bathrooms       16 non-null     Int64
 4   Parking         16 non-null     Int64
 5   Area            16 non-null     Int64
 6   Type            16 non-null     Int64
 7   Suburb          16 non-null     string
 8   Scraped Date    16 non-null     string
 9   Days on Market  11 non-null     Int64
 10  Asking Price    16 non-null     Int64
dtypes: Int64(7), string(4)
memory usage: 1.6 KB

In [24]:
# Export the unique suburb DataFrame to CSV
wembley_df_unique.to_csv('wembley_unique.csv', index=False)
print('Exported to wembley_unique.csv')

Exported to wembley_unique.csv

In [ ]:
# python multi_suburb_scraper.py --suburbs perth subiaco wembley glendalough "tuart hill" spearwood fremantle joondalup cannington morley midland armadale orelia medina "victoria park" scarborough claremont baldivis armadale rockingham mandurah "south perth" "mount lawley" leederville "osborne park" belmont ellenbrook wanneroo mirrabooka karrinyup bicton melville applecross willetton thornlie gosnells kelmscott --pages 3 --output all_perth.csv