In [1]:
import pandas as pd
# import data and display df

path_all_perth = "C:/Users/jess9/Desktop/Personal/coding/RealEstate_Scraping/all_perth.csv"
df = pd.read_csv(path_all_perth)

df

,Address,Link,Bedrooms,Bathrooms,Parking,Area,Type,Suburb,Scraped Date,Days on Market,Asking Price
0,"16/181 Oxford Street, Leederville",https://www.realestate.com.auhttps://www.reale...,1,1,1,0,1,perth,2025-10-01,NaN,400000
1,"30/124 Terrace Road, Perth",https://www.realestate.com.auhttps://www.reale...,1,1,0,33,1,perth,2025-10-01,NaN,315000
2,"13/34 East Parade, East Perth",https://www.realestate.com.auhttps://www.reale...,1,1,1,0,1,perth,2025-10-01,NaN,500
3,"704/237 Adelaide Terrace, Perth",https://www.realestate.com.auhttps://www.reale...,1,1,1,63,1,perth,2025-10-01,NaN,499000
4,"Address available on request, East Perth",https://www.realestate.com.auhttps://www.reale...,1,1,1,40,1,perth,2025-10-01,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
935,"1A Sinclair Street, Armadale",https://www.realestate.com.auhttps://www.reale...,2,1,1,477,2,kelmscott,2025-10-02,1.0,0
936,"54B May Street, Gosnells",https://www.realestate.com.auhttps://www.reale...,2,1,1,541,2,kelmscott,2025-10-02,NaN,489000
937,"Address available on request, Gosnells",https://www.realestate.com.auhttps://www.reale...,3,1,0,408,3,kelmscott,2025-10-02,NaN,0
938,"Address available on request, Armadale",https://www.realestate.com.auhttps://www.reale...,3,2,2,270,3,kelmscott,2025-10-02,1.0,499520
939,"14/9 Gladstone Road, Armadale",https://www.realestate.com.auhttps://www.reale...,3,2,2,145,3,kelmscott,2025-10-02,1.0,545000570000

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Address         940 non-null    object
 1   Link            940 non-null    object
 2   Bedrooms        940 non-null    int64
 3   Bathrooms       940 non-null    int64
 4   Parking         940 non-null    int64
 5   Area            940 non-null    int64
 6   Type            940 non-null    int64
 7   Suburb          940 non-null    object
 8   Scraped Date    940 non-null    object
 9   Days on Market  423 non-null    float64
 10  Asking Price    940 non-null    int64
dtypes: float64(1), int64(6), object(4)
memory usage: 80.9+ KB

In [3]:
df = df.convert_dtypes()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Address         940 non-null    string
 1   Link            940 non-null    string
 2   Bedrooms        940 non-null    Int64
 3   Bathrooms       940 non-null    Int64
 4   Parking         940 non-null    Int64
 5   Area            940 non-null    Int64
 6   Type            940 non-null    Int64
 7   Suburb          940 non-null    string
 8   Scraped Date    940 non-null    string
 9   Days on Market  423 non-null    Int64
 10  Asking Price    940 non-null    Int64
dtypes: Int64(7), string(4)
memory usage: 87.3 KB

In [5]:
df

,Address,Link,Bedrooms,Bathrooms,Parking,Area,Type,Suburb,Scraped Date,Days on Market,Asking Price
0,"16/181 Oxford Street, Leederville",https://www.realestate.com.auhttps://www.reale...,1,1,1,0,1,perth,2025-10-01,<NA>,400000
1,"30/124 Terrace Road, Perth",https://www.realestate.com.auhttps://www.reale...,1,1,0,33,1,perth,2025-10-01,<NA>,315000
2,"13/34 East Parade, East Perth",https://www.realestate.com.auhttps://www.reale...,1,1,1,0,1,perth,2025-10-01,<NA>,500
3,"704/237 Adelaide Terrace, Perth",https://www.realestate.com.auhttps://www.reale...,1,1,1,63,1,perth,2025-10-01,<NA>,499000
4,"Address available on request, East Perth",https://www.realestate.com.auhttps://www.reale...,1,1,1,40,1,perth,2025-10-01,<NA>,0
...,...,...,...,...,...,...,...,...,...,...,...
935,"1A Sinclair Street, Armadale",https://www.realestate.com.auhttps://www.reale...,2,1,1,477,2,kelmscott,2025-10-02,1,0
936,"54B May Street, Gosnells",https://www.realestate.com.auhttps://www.reale...,2,1,1,541,2,kelmscott,2025-10-02,<NA>,489000
937,"Address available on request, Gosnells",https://www.realestate.com.auhttps://www.reale...,3,1,0,408,3,kelmscott,2025-10-02,<NA>,0
938,"Address available on request, Armadale",https://www.realestate.com.auhttps://www.reale...,3,2,2,270,3,kelmscott,2025-10-02,1,499520
939,"14/9 Gladstone Road, Armadale",https://www.realestate.com.auhttps://www.reale...,3,2,2,145,3,kelmscott,2025-10-02,1,545000570000

In [6]:
df.sort_values(by=[df.columns[2], df.columns[10]], ascending=[False,False], inplace=True)

df

,Address,Link,Bedrooms,Bathrooms,Parking,Area,Type,Suburb,Scraped Date,Days on Market,Asking Price
224,"Address available on request, Mandurah",https://www.realestate.com.auhttps://www.reale...,5,2,8,760,5,mandurah,2025-10-01,<NA>,0
725,"Address available on request, Mandurah",https://www.realestate.com.auhttps://www.reale...,5,2,8,760,5,mandurah,2025-10-02,1,0
223,"197 Inlet Boulevard, South Yunderup",https://www.realestate.com.auhttps://www.reale...,4,2,2,330,4,mandurah,2025-10-01,<NA>,550000
724,"197 Inlet Boulevard, South Yunderup",https://www.realestate.com.auhttps://www.reale...,4,2,2,330,4,mandurah,2025-10-02,1,550000
200,"Address available on request, Mandurah",https://www.realestate.com.auhttps://www.reale...,4,2,0,0,4,mandurah,2025-10-01,<NA>,549990
...,...,...,...,...,...,...,...,...,...,...,...
256,"506/8 Adelaide Terrace, East Perth",https://www.realestate.com.auhttps://www.reale...,0,1,1,0,1,perth,2025-10-01,<NA>,0
416,"506/8 Adelaide Terrace, East Perth",https://www.realestate.com.auhttps://www.reale...,0,1,1,0,1,perth,2025-10-02,1,0
614,"506/8 Adelaide Terrace, East Perth",https://www.realestate.com.auhttps://www.reale...,0,1,1,0,1,victoria park,2025-10-02,1,0
741,"506/8 Adelaide Terrace, East Perth",https://www.realestate.com.auhttps://www.reale...,0,1,1,0,1,south perth,2025-10-02,1,0
783,"506/8 Adelaide Terrace, East Perth",https://www.realestate.com.auhttps://www.reale...,0,1,1,0,1,mount lawley,2025-10-02,1,0

In [37]:
df1 = df['Days on Market'].drop

In [38]:
df1

<bound method Series.drop of 224    <NA>
223    <NA>
200    <NA>
157    <NA>
221    <NA>
       ...
60     <NA>
96     <NA>
286    <NA>
30     <NA>
256    <NA>
Name: Days on Market, Length: 377, dtype: Int64>

In [ ]:
# python multi_suburb_scraper.py --suburbs perth subiaco wembley glendalough "tuart hill" spearwood fremantle joondalup cannington morley midland armadale orelia medina "victoria park" scarborough claremont baldivis armadale rockingham mandurah "south perth" "mount lawley" leederville "osborne park" belmont ellenbrook wanneroo mirrabooka karrinyup bicton melville applecross willetton thornlie gosnells kelmscott --pages 3 --output all_perth.csv